body, html{
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
}
@media (max-width: 768px){
	#gorose__document-button {
		display: none;
	}
	.gorose__menu-list .gorose__menu-item {
		color: #C5C5C5;
	    text-transform: uppercase;
	    font-size: 12px;
	    font-weight: 700;
	    letter-spacing: 1px;
	    padding-top: 10px;
	    padding-bottom: 10px;
	    line-height: 20px;
	    position: relative;
	    display: block;
	    padding: 10px 15px;
	}
	.gorose__menu-list .gorose__menu-item:hover {
		color: #2F937B;
	}

}
@media (min-width:768px){
	.li-hover:hover .gorose__menu-list, .li-hover:hover .gorose__menu-bg{
	    display: block;
	}
	.gorose__menu-bg {
		display: none;
		background: #333;
		opacity: 0.4;
		width: 100%;
		height: 100px;
		position: absolute;
		left: 0;
		top: 50px;
	}
	.gorose__menu-list {
	    display: none;
	    width: 100%;
	    line-height: 50px;
	    height: 100px;
	    text-align: center;
	    position: absolute;
	    left: 0;
	    top: 50px;
	}
	.gorose__menu-list .gorose__menu-item {
	    width: 100%;
	    height: 50px;
	    cursor: pointer;
	    display: block;
	    transition: all .5s;
	    box-sizing: border-box;
	    background-color: transparent;
	    border-bottom: 1px solid rgba(0,0,0, 0.3);
	}
	.gorose__menu-list .gorose__menu-item:last-child {
	    border-bottom: none;
	}
	.gorose__menu-list .gorose__menu-item:hover {
	    background: #fff;
	}
}

@media (min-width: 1200px){
	.container {
	width: 1100px;
	}
}

a { 
	color: #ffffff;
	transition: all 0.8;
}
a:hover,
a:focus{
	color: #2F937B;
	text-decoration: none;
}

.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
* html .clearfix { height: 1%; }
.clearfix { display: block; }

/* Home Style */
#tf-home{
	background: url(../img/01.jpg);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	color: #cfcfcf;
}

#tf-home .overlay{
	background: -moz-linear-gradient(top,  rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.73) 17%, rgba(0,0,0,0.66) 35%, rgba(0,0,0,0.55) 62%, rgba(0,0,0,0.4) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.8)), color-stop(17%,rgba(0,0,0,0.73)), color-stop(35%,rgba(0,0,0,0.66)), color-stop(62%,rgba(0,0,0,0.55)), color-stop(100%,rgba(0,0,0,0.4))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.73) 17%,rgba(0,0,0,0.66) 35%,rgba(0,0,0,0.55) 62%,rgba(0,0,0,0.4) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.73) 17%,rgba(0,0,0,0.66) 35%,rgba(0,0,0,0.55) 62%,rgba(0,0,0,0.4) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.73) 17%,rgba(0,0,0,0.66) 35%,rgba(0,0,0,0.55) 62%,rgba(0,0,0,0.4) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.73) 17%,rgba(0,0,0,0.66) 35%,rgba(0,0,0,0.55) 62%,rgba(0,0,0,0.4) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc000000', endColorstr='#66000000',GradientType=0 ); /* IE6-9 */
	height: auto;
	background-attachment: fixed;
}

.content{
	padding: 15% 0 18% 0;
	text-align: center;
}
/* Navigation */
#tf-menu {
	margin-bottom: 0;
	background: transparent;
	border: 0;
	color: #fff !important;
	padding: 2% 0;
	transition: all 0.5s;
}
#sticky {
    padding: 0.5ex;
    background-color: #333;
    color: #fff;
    font-size: 2em;
    border-radius: 0.5ex;
}
#tf-menu.stick {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10000;
    background: #222222;
    padding: 1% 0;
}
#tf-menu.navbar-default .navbar-nav > li > a {
	color: #C5C5C5;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 700;
	letter-spacing: 1px;
}

#tf-menu.navbar-default .navbar-nav > li > a:hover, 
#tf-menu.navbar-default .navbar-nav > li > a:focus {
	color: #2F937B;
	background-color: transparent;
}
.copyrights{
	text-indent:-9999px;
	height:0;
	line-height:0;
	font-size:0;
	overflow:hidden;
}
/*.logo {
	font-family: 'Playball', cursive;
}*/

#tf-service{
	padding: 7% 0; 
}

.media-left.media-middle i {
	padding: 20px 30px 20px 0;
	font-size: 30px;
	color: rgb(47, 147, 123);

}

.media-body h4 {
	margin-bottom: 20px;
	font-size: 16px;
	font-weight: 700;
	color: rgb(47, 147, 123);
}

#tf-portfolio{
	background: #f1f1f1;
	padding: 5%  0 8% 0;
	text-align: center;
}

.section-title hr{
	border-color: rgb(47, 147, 123);
	width: 60px;
}

.section-title h2{ font-weight: 700;}
button.btn,
a.btn {
	margin: 15px 5px;
	transition: all 0.5s;
}
button.btn.btn-primary.my-btn,
a.btn.btn-primary.my-btn {
	background: #2F937B;
	border-color: transparent;
	border-radius: 0px;
	border-width: 2px;
	padding: 10px 30px;
	text-transform: uppercase;
	font-size: 12px;
	letter-spacing: 1px;
	font-weight: 600;
}
button.btn.btn-primary.my-btn:hover,
a.btn.btn-primary.my-btn:hover{
	background: #FFFFFF;
	color: #2F937B;
	border-color: transparent;
}
button.btn.btn-primary.my-btn.dark:hover,
a.btn.btn-primary.my-btn.dark:hover{
	background: #222222;
	color: #ffffff;
	border-color: transparent;
}
a.btn.btn-primary.my-btn2 {
	background: rgba(47, 147, 123, 0);
	border-color: #FFFFFF;
	border-radius: 0px;
	border-width: 2px;
	padding: 10px 30px;
	text-transform: uppercase;
	font-size: 12px;
	letter-spacing: 1px;
	font-weight: 600;
	color: #FFFFFF;
}

a.btn.btn-primary.my-btn2:hover{
	background: #2F937B;
	color: #ffffff;
	border-color: transparent;
}

ul.cat.list-inline li a {
	border: 1px solid #2F937B;
	padding: 5px 15px;
	font-size: 11px;
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 1px;
	color: #2F937B;
	transition: all 0.5s;
}

ul.cat.list-inline li a:hover{
	background: #2F937B;
	color: #ffffff;
}

.space{ padding: 20px}
.toppadding{ padding-top: 30px}
.nopadding{ padding:  0;}

#tf-about{
	background: url(../img/07.jpg);
	background-size: cover;
	background-position: center;
	background-attachment: scroll;
	background-repeat: no-repeat;
	color: #222222;
}

#tf-about .overlay{
	height: auto;
	background-attachment: fixed;
	padding: 10% 0;
}

#tf-why-me{
	background: url(../img/10.jpg);
	background-size: cover;
	background-position: center;
	background-attachment: scroll;
	background-repeat: no-repeat;
	color: #222222;
}

#tf-why-me .overlay{
	height: auto;
	background-attachment: fixed;
	padding: 5% 0;
}
ul.why-me li{
	margin: 10px 0;
}
#tf-contact{
	background: url(../img/08.jpg);
	background-size: cover;
	background-position: center;
	background-attachment: scroll;
	background-repeat: no-repeat;
	padding: 5% 0;
	text-align: center;
}

form#contact {
	padding: 5%;
	background: #f1f1f1;
	outline: 6px solid rgba(34, 34, 34, 0.08);
}

#tf-contact input.form-control {
	height: 40px;
}

#tf-contact .form-control{
	display: block;
	width: 100%;
	margin-bottom: 20px;
	padding: 16px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #FFF;
	background-image: none;
	border: 1px solid #FFF;
	border-radius: 0;
	border-top: 2px solid transparent;
	-webkit-box-shadow: none;
	box-shadow: none;
	-webkit-transition: none;
	-o-transition: none;
	transition: all 0.8s;
}
#tf-contact .form-control:focus,
#tf-contact .form-control:hover{
	border-top: 2px solid #2F937B;
}
nav#tf-footer {
	background: #222222;
	padding: 3% 0 2% 0;
	color: #f1f1f1;
}

@charset "utf-8";
a{color: #21ba45;}
a:hover{color: #00b5ad;}
.menu{}
.menu ul{list-style: none;padding-left: 0.5em;}
.menu a{display: block;padding: 0.2em;border-radius:0.5em;font-size: 1.2em;color: #21ba45;word-break : break-all;}
.menu a:hover{background-color: rgba(0,0,0,.05);color: rgba(0,0,0,.95);}
.menu .made-by{padding: 0.5em;}
.menu .made-by a{text-align: center;}
.content{margin-top: 10px;}
.ui .new-grid{margin: 1rem 0;}
.ui.menu{border-radius: 0 !important;}

/* markdown2html style */
.content img{max-width: 100%;height: auto;}
code{padding: 2px 4px;font-size: 90%;color: #c7254e;background-color: #f9f2f4;border-radius: 4px;}
pre{padding: 2px 5px;background-color: #f2f2f2;border-radius: 3px;max-width: 100%;overflow-x: scroll;}
pre code{padding: 0;font-size: 90%;color: #333;background-color: #f2f2f2;border-radius: 0;}
blockquote{margin: 5px 0;padding: 5px 10px;border-left: 2px solid #00b5ad;background-color: #f6f6f6;color: #555;font-size: 1em;}

/* back2top */
#back2top{position: fixed;bottom: 5px;right: 5px;display: none;width: 30px;height: 30px;border-radius: 30px;line-height: 30px;text-align: center;background-color: #005a00;color: #fff;font-weight: bold;cursor: pointer;-webkit-transition: 1s;-moz-transition: 1s;-ms-transition: 1s;-o-transition: 1s;transition: 1s;z-index: 999;}
#back2top:hover{background-color: #278c01;}
